PP_ENV=local
APP_PORT=8000
APP_LANG=en
APP_TIMEZONE=Asia/Jakarta
APP_NAME=go-rest

DB_DRIVER=postgres
DB_HOST=localhost
DB_USER=<database_username>
DB_PASSWORD=<database_password>
DB_NAME=<database_name>
DB_PORT=<database_port>
